
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fec7d7;
  display: flex;
  justify-content: center;
}

.name {
  color: #0e172c;
  display: flex;
  justify-content: center;
  font-family: 'Itim', cursive;
  Font-Size: 44px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.social-icons a {
  color: #33272a;
  text-decoration: none;
  opacity: 1;
}

.link {
  background-color: #ffc6c7;
  display: flex;
  align-items: center;
  border: 3px #33272a solid;
  border-radius: 40px;
  padding: 3px;
  transition: 0.3s;
}

.link a {
  color: #33272a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-family: 'Sono', sans-serif;
  Font-Size: 16px;
}

.link:hover {
  background-color: #0e172c;
}

.link a:hover {
  color: #fffffe;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.email {
  font-family: 'Sono', sans-serif;
  Font-Size: 16px;
  text-decoration: underline;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 128px;
  border: 4px #33272a solid;
}

.thumbnail {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
}

.link-name {
  padding-top: 14px;
  padding-bottom: 14px
}

.items {
  background-color: #faeee7;
  padding: 30px;
  border-radius: 25px;
  border: 5px #0e172c solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  flex-grow: 1;
  opacity: 0.8;
  background-image:  radial-gradient(#ff8ba7 2px, transparent 2px), radial-gradient(#ff8ba7 2px, #faeee7 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

.project-items {
  background-color: #faeee7;
  padding: 30px;
  border-radius: 25px;
  border: 5px #0e172c solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 400px;
  flex-grow: 1;
  background-color: #faeee7;
  opacity: 0.8;
  background-image:  radial-gradient(#ff8ba7 2px, transparent 2px), radial-gradient(#ff8ba7 2px, #faeee7 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

.project-text {
  color: #33272a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-family: 'Sono', sans-serif;
  Font-Size: 25px;
}

.return-home {
  color: #33272a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-family: 'Sono', sans-serif;
  Font-Size: 16px;
}
