body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fec7d7;
  display: flex;
  justify-content: center;
  background-image: url(thumbnails/pixel-city-chill.gif);
  background-size: cover;
}

.name {
  color: #0e172c;
  display: flex;
  justify-content: center;
  font-family: 'Itim', cursive;
  Font-Size: 44px;
}

.mini-bio {
  color: #0e172c;
  display: flex;
  justify-content: center;
  font-family: 'Itim', cursive;
  Font-Size: 18px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
}

.social-icons a {
  color: #33272a;
  text-decoration: none;
  opacity: 1;
}

.top-banner {
  border-bottom: 4px #0e172c solid;
  background-color: #e78fb3;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  padding: 10px;
  display: flex;
  justify-content: end;
}

.top-banner p {
  font-family: 'Sono', sans-serif;
  Font-Size: 20px;
  margin: 0;
  padding-left: 10px;
  margin-right: auto;
}

.windows-icons{
  padding-left: 2px;
  padding-right: 2px;
}

.exit-marker {
  padding-left: 3px;
  padding-right: 3px;
}

.windows-icons-border {
  padding: ;
  border: 3px #0e172c solid;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #faeee7;
}

.link {
  background-color: #ff8ba7;
  display: flex;
  align-items: center;
  border: 3px #33272a solid;
  border-radius: 25px;
  padding: 3px;
  transition: 0.3s;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 7px 7px #5C0F46;
}

.link a {
  color: #33272a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-family: 'Sono', sans-serif;
  Font-Size: 16px;
}

.link:hover {
  background-color: #0e172c;
}

.link a:hover {
  color: #fffffe;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.email {
  font-family: 'Sono', sans-serif;
  Font-Size: 16px;
  text-decoration: underline;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner-image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50px;
  border: 4px #33272a solid;
}

.thumbnail {
  color: #0e172c;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding-left: 5px;
  object-fit: cover;
}

.thumbnail:hover {
  color: #fffffe;
}

.link-name {
  padding-top: 14px;
  padding-bottom: 14px
}

.items {
  background: linear-gradient(0deg, #ffbbbe, #ffbdc0, #ffc3c6, #ffcacd, #ffd3d5, #ffdadd, #ffe0e2, #ffe2e4);
  background-color: #faeee7;
  padding-bottom: 30px;
  border-radius: 20px;
  border: 5px #0e172c solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 700px;
  flex-grow: 1;
  box-shadow: 9px 9px #33272a;
  <!--opacity: 0.8;-->
  <!--background-image:  radial-gradient(#ff8ba7 2px, transparent 2px), radial-gradient(#ff8ba7 2px, #faeee7 2px);-->
  <!--background-size: 80px 80px;-->
  <!--background-position: 0 0,40px 40px;-->
}

.bio-items {
  background: linear-gradient(0deg, #ffbbbe, #ffbdc0, #ffc3c6, #ffcacd, #ffd3d5, #ffdadd, #ffe0e2, #ffe2e4);
  background-color: #faeee7;
  padding-bottom: 30px;
  border-radius: 20px;
  border: 5px #0e172c solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 550px;
  flex-grow: 1;
  box-shadow: 9px 9px #33272a;
  margin: 5px;
}

.project-text {
  color: #33272a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-family: 'Sono', sans-serif;
  Font-Size: 25px;
}

.return-home {
  color: #33272a;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-family: 'Sono', sans-serif;
  Font-Size: 16px;
}

.about-me {
  margin-left: 30px;
  margin-right: 30px;
  border: 3px #0e172c solid;
  background-color: #ffc6c7;
  border-radius: 5px;
}

.bio-top {
  display: flex;
}

.bio-image {
  width: 290px;
  height: 290px;
  object-fit: cover;
  border-radius: 5px;
  border: 4px #33272a solid;
  margin-left: 30px;
  margin-right: 5px;
}

.bio {
  color: #0e172c;
  justify-content: center;
  font-family: 'Itim', cursive;
  Font-Size: 18px;
}

.bio-text {
  padding-left: 10px;
  padding-right: 7px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.bio-text-top {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 8px;
  margin-top: 5px;
}

.bio-header-text {
  padding: 7px;
}

.bio-header-text-top {
  padding: 3px;
}

.bio-header {
  border-bottom: 3px #0e172c solid;
  background-color: #ff8ba7;
  border-radius: 1px;
}

.bio-top-box {
  margin-left: 10px;
  margin-right: 10px;
}

.bio-top-box-two {
  margin-left: 5px;
}
